<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <title>HomePage</title>
</head>
<style>

</style>

<body>
    <div class="container">
        <div class="vertical-navbar">
            <a class="active" href="/">Home</a>
            <a href="/create">Tạo Sản Phẩm</a>
            <!-- <a href="/khachhang">Thông Tin Khách Hàng</a> -->
            <a href="/All-donhang" class="tatcadonhang">Tất Cả Đơn Hàng</a>

            <a href="/all-chitietdonhang" class="">Tất Cả Thông Tin Chi Tiết Đơn Hàng</a>
            <a href="/ThongkeAll">Thông Kê</a>
        </div>

        <div class="list-users">
            <H3 class="tieudedonhang">Tất Cả Đơn Hàng</H3>
            <table>
                <tr>
                    <th>Mã Đơn Hàng </th>
                    <th>Mã Khách Hàng</th>

                    <th>Thời gian</th>
                    <th>Trạng Thái</th>
                    <th>Chức Năng</th>


                </tr>
                <% DonHang.forEach(function(DonHang) { %>
                    <tr>

                        <td>
                            <%= DonHang.MADONHANG %>
                        </td>
                        <td>
                            <%= DonHang.MAKHACHHANG %>
                        </td>

                        <td>
                            <%= DonHang.formattedTime %>
                        </td>

                        <td>
                            <%= DonHang.TRANGTHAI%>
                        </td>





                        <td>
                            <form action="/da-giao-don-hang-thanhcong/<%= DonHang.MADONHANG %>" method="post">
                                <button class="chucnang-xemthem btnGiaoDonHang">Đã Giao</button>
                            </form>



                        </td>

                        <td>
                            <form action="/xem-chiTietdonhang/<%= DonHang.MADONHANG %>" method="post">
                                <button class="chucnang-xemthem">Xem
                                    thêm</button>
                            </form>



                        </td>

                        <td>
                            <form action="/DeleteDonhang/<%= DonHang.MADONHANG %>" method="post"><button
                                    class="chucnang-xoa">Hủy
                                    Đơn</button>
                            </form>



                        </td>
                        <% }); %>


                    </tr>









            </table>

        </div>
    </div>
    <style>
        .tatcadonhang {
            background-color: black;
        }

        .tieudedonhang {
            margin-bottom: 50px;
            margin-top: 50px;
        }

        .container {
            margin-top: -50px;
        }

        .chucnang-quayve {
            margin-bottom: 20px;
            width: 100px;
            height: 35px;
            border-radius: 7px;
            background-color: #45a049;
            border: none;
            color: white;
            font-weight: bold;
        }

        .list-users {
            margin-left: 15%;
            margin-top: 50px;
            padding: 15px 20px;
            width: 80%;
            background-color: white;
            border-radius: 15px;
        }

        .danhsachsanpham {
            margin-top: 10px;
            margin-bottom: 30px;
        }

        .vertical-navbar {

            width: 10%;
            display: flex;
            flex-direction: column;
            background-color: #333;
            /* Màu nền của navbar */
            padding: 15px;
            /* Khoảng cách giữa các nút */
            position: fixed;

            height: 100%;
            /* Chiều cao của navbar sẽ chiếm toàn bộ chiều cao của trang */
        }

        .vertical-navbar a {
            color: white;
            /* Màu chữ của các nút */
            text-decoration: none;
            /* Loại bỏ đường gạch chân mặc định cho liên kết */
            padding: 10px;
            /* Kích thước của từng nút */
            /* border-bottom: 1px solid #ddd; */
            /* Đường biên dưới giữa các nút */
        }

        .vertical-navbar a:hover {
            background-color: black
                /* Màu nền khi di chuột qua nút */
        }
    </style>
    <!-- Sử dụng đường dẫn tới file jQuery trong máy chủ của bạn -->



</body>


</html>