<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <title>Cập Nhật Lại Sản Phẩm</title>
</head>
<style>

</style>

<body>

    <div class="container">
        <div class="vertical-navbar">
            <a class="active" href="/">Home</a>
            <a href="/create">Tạo Sản Phẩm</a>
            <!-- <a href="/khachhang">Thông Tin Khách Hàng</a> -->
            <a href="/All-donhang" class="tatcadonhang">Tất Cả Đơn Hàng</a>
            <a href="/all-chitietdonhang" class="">Tất Cả Thông Tin Chi Tiết Đơn Hàng</a>
            <a href="/ThongkeAll">Thông Kê</a>
        </div>

        <div class="container-form">
            <div class="container-form-quayve">
                <form action="/create" method="get">
                    <button class="chucnang-quayve">Quay về</button>
                </form>
            </div>
            <form action="/update-sanpham" enctype="multipart/form-data" method="post">
                <fieldset>
                    <legend>Cập Nhật Sản Phẩm</legend>

                    <div class="input-group">
                        <label for="MASP">MÃ SẢN PHẨM</label>
                        <input type="text" name="MASP" value="<%= SanphamEdit.MASP %>">
                    </div>

                    <div class="input-group">
                        <label for="TENSANPHAM">TÊN SẢN PHẨM</label>
                        <input type="text" name="TENSANPHAM" value="<%= SanphamEdit.TENSANPHAM %>">
                    </div>

                    <div class="input-group">
                        <label for="TENHANG">TÊN HÃNG</label>
                        <input type="text" name="TENHANG" value="<%= SanphamEdit.TENHANG %>">
                    </div>

                    <div class="input-group">
                        <label for="GIA">GIÁ</label>
                        <input type="text" name="GIA" value="<%= SanphamEdit.GIA %>">
                    </div>

                    <div class="input-group">
                        <label for="MALOAI">MÃ LOẠI</label>
                        <input type="text" name="MALOAI" value="<%= SanphamEdit.MALOAI %>">
                    </div>

                    <div class="input-group">
                        <label for="SIZE">SIZE</label>
                        <input type="text" name="SIZE" value="<%= SanphamEdit.GIATRI %>">
                    </div>

                    <div class="input-group">
                        <label for="SOLUONG">SỐ LƯỢNG</label>
                        <input type="text" name="SOLUONG" value="<%= SanphamEdit.SOLUONG %>">
                    </div>
                    <div class="input-group input-groupcity">
                        <label for="">Thông tin chi tiết mô tả sản phẩm</label>
                        <input type="text" name="thongtinsanpham" id="thongtinsanpham"
                            value="<%=SanphamEdit.THONGTINSANPHAM %>">
                    </div>

                    <div>
                        <label for="">Avatar: </label>
                        <input type="file" name="profile_pic" value="<%= SanphamEdit.description %>" />
                    </div>
                    <td>
                        <form method="POST" action="/upload-profile-pic" enctype="multipart/form-data"></form>
                    </td>
                    <div class="button">
                        <button> Cập Nhật Lại Sản Phẩm</button>
                    </div>

                    <!-- <form action="/delete-sanpham/<%= SanphamEdit.MASP %>" method="post">
                    <button>Xóa Sản Phẩm</button>
                </form> -->
                </fieldset>
            </form>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên Sản Phẩm</th>
                        <th>Giá bán</th>
                        <th>Mô tả</th>
                        <th>Số lượng</th>
                        <th>Chức Năng</th>
                    </tr>
                </thead>
                <tbody>
                    <% AllSanpham.forEach(function(sanpham) { %>
                        <tr>
                            <td>
                                <%= sanpham.MASP %>
                            </td>
                            <td>
                                <%= sanpham.TENSANPHAM %>
                            </td>
                            <td>
                                <%= sanpham.GIA %>
                            </td>
                            <td>
                                <%= sanpham.SOLUONG %>
                            </td>
                            <td>
                                <img src="/images/<%= sanpham.description %>" alt="" width="50px" height="50px" />
                            </td>
                            <td>
                                <form action="/delete-sanpham/<%= sanpham.MASP %>" method="post">
                                    <button class="chucnang-xoane">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <style>
        .chucnang-xoane {
            background-color: rgb(193, 10, 10);
        }

        .container-form {
            width: 80%;

            margin-left: 15%;
        }

        .container {
            display: flex;
            width: 100%;
            background-color: #edf1fa;


        }

        .vertical-navbar {

            width: 10%;
            display: flex;
            flex-direction: column;
            background-color: #333;
            /* Màu nền của navbar */
            padding: 15px;
            /* Khoảng cách giữa các nút */
            position: fixed;

            height: 100%;
            /* Chiều cao của navbar sẽ chiếm toàn bộ chiều cao của trang */
        }

        .vertical-navbar a {
            color: white;
            /* Màu chữ của các nút */
            text-decoration: none;
            /* Loại bỏ đường gạch chân mặc định cho liên kết */
            padding: 10px;
            /* Kích thước của từng nút */
            /* border-bottom: 1px solid #ddd; */
            /* Đường biên dưới giữa các nút */
        }

        .vertical-navbar a:hover {
            background-color: black;
            /* Màu nền khi di chuột qua nút */
        }

        .content {
            margin-left: 200px;
            /* Để tránh bị che phủ bởi navbar */
            padding: 20px;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .topnav {
            background-color: #333;
            overflow: hidden;
        }

        .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .form {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        form {
            margin-top: 20px;
        }

        fieldset {
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 5px;
        }

        legend {
            font-weight: bold;
            color: #333;
        }

        .input-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        .button {
            text-align: right;
        }

        button {
            background-color: #4caf50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table,
        th,
        td {
            border: 1px solid #ddd;
        }

        th,
        td {
            padding: 15px;
            text-align: left;
        }

        th {
            background-color: #333;
            color: white;
        }

        tbody tr:hover {
            background-color: #f5f5f5;
        }

        .container-LoaiSP {
            width: 60%;
            margin-left: 20%;
        }

        .hang-loaiSP {
            background-color: #f8f8f8;
        }

        .cot1-loaiSP,
        .cot2-loaiSP {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        .cot1-loaiSP {
            width: 20%;
        }

        .cot2-loaiSP {
            width: 80%;
        }

        .cot1-loaiSP:hover,
        .cot2-loaiSP:hover {
            background-color: #f0f0f0;
        }
    </style>
</body>

</html>