<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <title>Thống Kê</title>
</head>

<style>

</style>

<body>
    <div class="container">
        <div class="vertical-navbar">
            <a class="active" href="/">Home</a>
            <a href="/create">Tạo Sản Phẩm</a>
            <a href="/All-donhang">Tất Cả Đơn Hàng</a>
            <a href="/all-chitietdonhang">Tất Cả Thông Tin Chi Tiết Đơn Hàng</a>
            <a href="/ThongkeAll" style="background-color: black;">Thông Kê</a>
        </div>
        <div class=" list-users">
            <div>
                <h4> Thông tin thống kê</h4>
            </div>

            <table class="custom-table">
                <tr>
                    <th>Tổng Số Tiền Đã Bán Được</th>

                    <th>Tổng Số Lượng Giày Đã Bán Được</th>


                </tr>
                <% data.forEach(function (row) { %>
                    <tr>
                        <td>
                            <%= row.TongSoTien %> đ
                        </td>
                        <td>
                            <%= row.TongSoSanPhamDaBan %> Đôi Giày
                        </td>

                    </tr>
                    <% }); %>
            </table>
            <table class="custom-table">
                <tr>
                    <th>Mã Sản Phẩm</th>
                    <th>Tên Sản Phẩm Mua Nhiều Nhất</th>
                    <th>Số Lượng</th>
                </tr>
                <% dataa.forEach(function (roww) { %>
                    <tr>
                        <td>
                            <%= roww.MASP %> <!-- Sửa thành cột chứa tên sản phẩm -->
                        </td>
                        <td>
                            <%= roww.TENSANPHAM %> <!-- Sửa thành cột chứa tên sản phẩm -->
                        </td>
                        <td>
                            <%= roww.TongSoLuongDaMua %> <!-- Sửa thành cột chứa tên sản phẩm -->
                        </td>
                    </tr>
                    <% }); %>
            </table>
            <table class="custom-table">
                <tr>
                    <th>Mã Sản Phẩm</th>
                    <th>Tên Sản Phẩm Sắp Hết Số Lượng</th>
                    <th>Số Lượng Hiện Có</th>
                </tr>
                <% dataaa.forEach(function (roww) { %>
                    <tr>
                        <td>
                            <%= roww.MaSanPham %> <!-- Sửa thành cột chứa tên sản phẩm -->
                        </td>
                        <td>
                            <%= roww.TenSanPham %> <!-- Sửa thành cột chứa tên sản phẩm -->
                        </td>
                        <td>
                            <%= roww.SoLuongHienCo %> <!-- Sửa thành cột chứa tên sản phẩm -->
                        </td>
                    </tr>
                    <% }); %>
            </table>

        </div>
    </div>
    <style>
        .custom-table {
            width: 50%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        .custom-table,
        .custom-table th,
        .custom-table td {
            border: 1px solid black;
        }

        .custom-table th,
        .custom-table td {
            padding: 10px;
            text-align: left;
        }

        .container {
            margin-top: -50px;
        }

        .list-users {
            margin-left: 15%;
            margin-top: 50px;
            padding: 15px 20px;
            width: 80%;
            background-color: white;
            border-radius: 15px;
        }

        .vertical-navbar {
            width: 10%;
            display: flex;
            flex-direction: column;
            background-color: #333;
            padding: 15px;
            position: fixed;
            height: 100%;
        }

        .vertical-navbar a {
            color: white;
            text-decoration: none;
            padding: 10px;
        }

        .vertical-navbar a:hover {
            background-color: black;
        }
    </style>
</body>

</html>